$primary-color: #088AE9;
//$primary-color: #0e2cb1;
$primary-dark-color: #1A1A2E;
$link-color: #E94560;
// Daashboard Navbar
$navbar-thickness: 60px;
$navbar-v-thickness: $navbar-thickness+20px;
$navbar-zindex: 5;