$form-input-height: 50px;
.x-form-group {
    &>label {
        font-size: 0.9rem;
        font-weight: 500;
        color: #666
    }
    &>.form-input {
        position: relative;
        height: $form-input-height;
        &>input {
            outline: none;
            border: none;
            padding: 0 0.5rem;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            background-color: #eee;
            transition: box-shadow 0.2s ease;
            &:focus {
                box-shadow: 0 0 0 3px rgba($color: $primary-dark-color, $alpha: 0.5);
            }
        }
    }
}