.tab-link {
    position: relative;
    color: #555;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    font-size: 0.85rem;
    transition: all 0.3s ease;
    transform: scale(0.85);
    &:hover {
        text-decoration: none;
        color: #000;
    }
    &.nuxt-link-active {
        color: $primary-color;
        font-weight: 500;
        transform: scale(1);
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 3px;
            background-color: $primary-color;
        }
    }
}