.v-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    .v-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: $navbar-v-thickness;
        color: #000;
        &>.text {
            text-align: center;
            font-size: 0.6rem;
            font-weight: 500;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        &:hover {
            background-color: #f8f9fa;
        }
    }
}

.aside-menu-link {
    font-size: 0.7rem;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: horizontal;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0.5rem 0.6rem;
    margin-bottom: 0.5rem;
    color: #888;
    position: relative;
    &.nuxt-link-active {
        color: $primary-color;
        font-weight: 600;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 2px;
            background-color: $primary-color;
        }
    }
}