.x-modal {
    padding: 0;
    .x-modal__header,
    .x-modal__footer {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        border-bottom: 1px solid #eee;
        &>.title {
            font-weight: 600;
            font-size: 1.1rem;
        }
    }
    main {
        padding: 1.3rem 1rem;
        font-size: 0.92rem;
        text-align: justify;
    }
    .x-modal__footer {
        justify-content: end;
        flex-flow: row-reverse;
        border: none;
        border-top: 1px solid #eee;
        .btn-action {
            margin-left: 1rem;
            font-size: 0.8rem;
            background-color: #f0F0F0;
            border-radius: 8px;
            font-weight: 500;
        }
    }
}