.patient-data-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    &>.data-item {
        background-color: #ffffff;
        //border: 1px solid #eee;
        border-radius: 8px;
        width: 430px;
        &>header,
        &>footer {
            padding: 0.8rem 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &>header {
            border-bottom: 1px solid #eee;
            .title-field {
                .title-key {
                    font-size: 0.75rem;
                    font-weight: 500;
                    color: #888
                }
                .title-value {
                    font-weight: 400;
                    font-size: 0.85rem
                }
            }
            .actions {
                display: flex;
                align-items: center;
                &>.action {
                    margin-left: 1rem;
                }
            }
        }
        &>footer {
            border-top: 1px solid #eee;
            &>.date-field {
                display: flex;
                flex-direction: column;
                .date-key {
                    font-size: 0.7rem;
                    font-weight: 500;
                    color: #333
                }
                .date-value {
                    font-size: 0.7rem;
                    font-weight: 400;
                    color: #888
                }
            }
        }
        &>main {
            padding: 0.8rem 1rem;
        }
    }
}