.input-group-title {
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 0.9rem;
    margin: 8px 0;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    color: $primary-color;
    background-color: rgba($color: $primary-color, $alpha: 0.06);
    font-weight: 500;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 2px;
        background-color: $primary-color;
    }
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.w-full {
    width: 100%;
}

.w-screen {
    height: 100vw;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

.auth-form-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
}